<div class="container">

    <h2 style="text-align:center;">
      <ol class="breadcrumb">
        <li><a ng-click="sc.back()">Class-{{sc.classname}}</a></li>
        <li class="active">Sections</li>
      </ol>
    </h2>


  <div class="row" style="margin:20vh auto;">
    <div class="col-sm-6 col-md-3" data-toggle="tooltip" data-placement="top" title="Click for Students in the Section" ng-repeat="sections in sc.sectionResponse.sections">
      <div class="thumbnail" ui-sref="students({klass_id: sections.klass_id, id: sections.id})">
        <a class="fa fa-pencil-square-o pull-right" data-toggle="modal" data-target="#editSection" ng-click="sc.editSection(sections)"></a>
        <br>
        <br>
        <div class="caption text-center">
          <div>
            <h3>Section-{{ sections.name }}</h3>
          </div>
        </div>
        <br>
        <br>
        <br>
        <a class="fa fa-trash-o pull-right" ng-click="sc.deleteSection(sections)"></a>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail text-center" data-toggle="modal" data-target="#newSection" data-toggle="tooltip" data-placement="top" title="Click to add a Section">
        <div class="caption">
          <br><br>
          <h1><span class="glyphicon glyphicon-plus-sign center-block" aria-hidden="true" ></span></h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newSection" tabindex="-1" role="dialog" aria-labelledby="newSection">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       <h4 class="modal-title" id="myModalLabel">Add a new Section</h4>
     </div>
     <div class="modal-body">
       <form name="classForm" ng-submit="sc.addSection(name)">
         <div class="form-group">
             <label>Name</label>
             <input type="text" name="name" id="name" class="form-control" ng-model="name" placeholder="{{ classes.name}}">
         </div>
         <button type="submit" class="btn btn-primary pull-right">Submit</button>
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </form>
     </div>
   </div>
 </div>
</div>



<div class="modal fade" id="editSection" tabindex="-1" role="dialog" aria-labelledby="editClass">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       <h4 class="modal-title" id="myModalLabel">Update Class</h4>
     </div>
     <div class="modal-body">
       <form name="classForm" ng-submit="sc.updateSection(sc.sections,name)">
         <div class="form-group">
             <label>Name</label>
             <input type="text" name="name" class="form-control" ng-model="sc.sections.name">
         </div>
         <button type="submit" class="btn btn-primary pull-right">Submit</button>
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </form>
     </div>
   </div>
 </div>
</div>
