<div class="container">


  <div class="jumbotron text-center">
    <h1>Welcome To CodeAstra</h1>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-3" ng-repeat="sections in sc.sectionResponse.sections">
      <div class="thumbnail">
        <a class="fa fa-pencil-square-o pull-right"></a>
        <br>
        <br>
        <div class="caption text-center" ui-sref="students({klass_id: sections.klass_id, id: sections.id})">
          <div>
            <h3><a>{{ sections.name }}</a></h3>
          </div>
        </div>
        <br>
        <br>
        <br>
        <a class="fa fa-trash-o pull-right"></a>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <div class="caption">
          <span class="glyphicon glyphicon-plus-sign center-block" aria-hidden="true"></span>
        </div>
      </div>
    </div>
  </div>
</div>
