<div class="container">


  <div class="jumbotron text-center">
    <h1>Welcome To CodeAstra</h1>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-3" ng-repeat="students in st.studentResponse.students">

      <div class="thumbnail">
        <a class="fa fa-pencil-square-o pull-right"></a>
        <br>
        <div class="caption text-center" ui-sref="studentDetails({klass_id: students.klass_id, section_id: students.section_id, id: students.id})">
            <a>
              <h3>{{ students.roll_number }}
                  <br>
                  <br>
                  {{ students.name }}
              </h3>
            <a>
        </div>
        <br>
        <a class="fa fa-trash-o pull-right"></a>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <div class="caption">
          <span class="glyphicon glyphicon-plus-sign center-block" aria-hidden="true"></span>
        </div>
      </div>
    </div>
  </div>
</div>
